.centerForm{
 display: flex;
 align-items: center;
 justify-content: center;
 max-width: 50%;
 min-width: 320px;
 width: auto;
 height: 100vh;
 margin: 0 auto;
}


.dato{
    text-align: center;
    padding: 15px;
}
